<h2>Dashboard</h2>

<form id="dashboardForm">
    <input type="text" id="title" placeholder="title of blog">
    <input type="text" id="posting" placeholder="type blog here">
    <button id="postButton">Post</button>
</form>

<script src="/js/dashboard.js"></script>
