<h1>sign up page</h1>

<form id="signupform" autocomplete="off">
    <input type="text" id="signupId" placeholder="please enter username" autocomplete="off"/>
    <input type="password" id="signupPassword" placeholder="please enter a new passwrd" autocomplete="off"/>
    <button id="signupbutton">Sign Up For The Tech Blog</button>
</form>

<script src="/js/signup.js"></script>