{{!-- {{#each Blogs}} --}}
<div>
 <h2 class="titleupdate">Edit blog</h2>
 <h3>Blog ID:{{id}}</h3>
 <h3>Blog title: {{blog_title}}</h3>
</div>
{{!-- {{/each}} --}}
<form id="updateForm">
    <input type="text" id="title" placeholder="{{blog_title}}">
    <input type="text" id="posting" placeholder="{{blogpost}}">
    <button id="updateButton">Update</button>
    <button id="deleteButton">Delete</button>
</form>

<script src="/js/updateordelete.js"></script>